<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team List</title>
</head>
<body>
<h1>Team List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Mascot</th>
        <th>Coach</th>
        <th>Stadium</th>
        <th>Division</th>
        <th>Record</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td th:text="${team.name}"></td>
        <td th:text="${team.city}"></td>
        <td th:text="${team.mascot}"></td>
        <td th:text="${team.coach}"></td>
        <td th:text="${team.stadium}"></td>
        <td th:text="${team.division}"></td>
        <td th:text="${team.record}"></td>
    </tr>
</table>
</body>
</html>
